<!doctype html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alexandre Bonhomme</title>
    {{> seo}}
    {{> i18n}}
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans:400" rel="stylesheet">
  </head>
  <body>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49973983-1"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-49973983-1")</script>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>